<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>Central Dashboard</title>
    <link rel="stylesheet" href="../static/central_css.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />
    <script>
      function updateDateTime() {
        const now = new Date();
        const currentDate = now.toLocaleDateString();
        const currentTime = now.toLocaleTimeString();
        const dateTimeString = currentDate + "<br>" + currentTime;
        document.querySelector("#datetime").innerHTML = dateTimeString;
      }
      setInterval(updateDateTime, 1000);
    </script>
    <script src="https://unpkg.com/@preset-sdk/embedded"></script>       
  </head>
  <body>
    <div class="container">
      <div class="main_frame">
        <div class="header">
          <img src="../static/image-removebg-preview (5).png" id="ksp_logo" />
          <h1 id="ksp_heading">KARNATAKA <br />STATE <br />POLICE</h1>
          <button class="nav" id="central">CENTRAL</button>
          <button class="nav" id="personal">
            PERSONAL
          </button>
          <div id="datetime"></div>
        </div>
        <div class="heading">
          <h1 id="dashboard_heading">CENTRAL DASHBOARD</h1>
        </div>
        <div class="stats">
          <p id="dashboard-container"></p>

        <script>
        async function fetchGuestTokenFromBackend() {
        let response = await fetch('http://127.0.0.1:5000/guest-token?dashboard_id=8ddb3ada-daf5-49ba-952c-b4b17bbb8961');
        let data = await response.json()
        return data
        }                      

        const myDashboard = presetSdk.embedDashboard({
        id: "8ddb3ada-daf5-49ba-952c-b4b17bbb8961",
        supersetDomain: "https://f884644f.us1a.app.preset.io",
        mountPoint: document.getElementById("dashboard-container"), 

        fetchGuestToken: () => fetchGuestTokenFromBackend("8ddb3ada-daf5-49ba-952c-b4b17bbb8961"),
        dashboardUiConfig: {hideTitle: true, hideChartControls: true}, 

        });
        </script>
          
          
        </div>
        
      </div>
      <div class="right_scan">
        <div class="scan_header">
          <p id="pname">{{ name }}</p>
          <img src="../static/prof.png" id="profile_logo" />
        </div>
        <div class="news">
          <h1 id="news_heading">On-the-Go Reports</h1>
          <div class="news_title">
            {% for title in titles %}
            <p id="news-text">• {{ title }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("personal")
        .addEventListener("mouseenter", function () {
          document.getElementById("central").style.fontWeight = "400";
          document.getElementById("central").style.color = "#738a92";
          document.getElementById("central").style.fontSize = "1.55vw";
        });

      document
        .getElementById("personal")
        .addEventListener("mouseleave", function () {
          document.getElementById("central").style.fontWeight = "";
          document.getElementById("central").style.color = "";
          document.getElementById("central").style.fontSize = "";
        });
    </script>
    <script>
      document.getElementById('personal').addEventListener('click', function() {
          window.location.href = '/route';
      });
    </script>
    <script>
      let popup = document.getElementById("popup");
      function openPopUp(){
        popup.classList.add("open_popup");
      }
      function closePopUp(){
        popup.classList.remove("open_popup");
      }
    </script>
  </body>
</html>