body{
    margin: 0;
    padding: 0;
}   

.container{
    display: flex;
    height: 100vh;
}

.left_scan{
    background-color: black;
    width: 30vw;
    background: radial-gradient(ellipse at center, #12786C 0%, #127878  30%, #7AC8F4 100%); 
    background-size: 100% 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.right_scan{
    background-color:  #D9D9D9;
    flex: 1;
}

.header{
    display: flex;
    justify-content: center; 
    padding-bottom: 5vw;
}

#heading{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 6vw;
    color: #D9D9D9;
}

#ksp_logo{
    width: 12vw;
    height: 12vw;
    padding: 2vw 1vw 0vw 0vw;
}

#ksp_heading{
    padding-top: 2.5vw;
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    color: #5b6e74;
    letter-spacing: 3px;
    font-weight: 700;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.input_field{
    border-radius: 5px;
    padding: 0.5vw 3vw;
    margin-top: 2vw;

}

.submit_btn{
    padding: 0.75vw 6vw;
    cursor: pointer;
    margin: 3vw 0vw 0vw 0vw;
    background: linear-gradient(to right, #5b6e74, #819fa7);
    border: 0;
    outline: none;
    border-radius: 30px;
    z-index: 1;
    color: aliceblue;
    transition: all 0.3s ease;
}

#login_btn:hover{
    margin-top: 2.8vw;
}